package ##PACKAGE_NAME##;

#import_once webcontroller/imports  imports

public class ##CLASS_NAME## extends HttpServlet {
    private static final long serialVersionUID = 1L;

    ##WEB_HANDLE_CLASS## controller;

    public ##CLASS_NAME##() {
        #import webcontroller/singletone singletone
        controller = new ##WEB_HANDLE_CLASS##(##SINGLETONE_LIST##);
    }

    #import_once webcontroller/get  get

    #import webcontroller/execute_get_post_request get_exe

    #import webcontroller/post post

    #import webcontroller/execute_get_post_request post_exe
 
    #import webcontroller/individual_method methods

    #import webcontroller/exception_handler exception
}
